{
  "env": {
    "browser": true
  },
  "globals": {
    "$": true
  },
  "extends": [
    "standard"
  ],
  "rules": {
    "no-unused-vars": 1,
    "no-console": [1, { "allow": ["warn", "error"]}]
  }
}